* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.nav {
    background-color: hsla(0, 1%, 6%, 1);
    color: #fff;
    padding: 10px 20px;
    width: auto;
    height: 7vmax;
}

.nav ul {
    display: flex;
    float: right;
    padding: 0 7vmax;
    list-style: none;
}
.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav ul li {
    padding: 7%;
    list-style: none;
}

.search-container {
    margin-left: 10%;
    padding: 2vmax 0;
}

.logo-aside {
    position: absolute;
    top: 18px;
    left: 25px;
}
