* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.nav {
    background-color: hsla(0, 1%, 6%, 1);
    color: #fff;
    padding: 10px 20px;
    height: 7vmax;
}

.nav ul {
    display: flex;
    float: right;
    padding: 0 7vmax;
    list-style: none;
    width: auto;
    white-space: nowrap;
    margin-top: 5px;
    margin-right: 80px;
}
.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav ul li {
    padding: 7%;
    list-style: none;
}

.search-container {
    margin-left: 7%;
    padding: 2vmax 0;
}

.search-container input[type="text"] {
    padding-left: 15px;
}

.logo-aside {
    position: absolute;
    top: 25px;
    left: 25px;
}

.baner {
    background-color: #171717;
    color: #ffffff;
    padding-top: 25px;
    padding-left: 50px;
    height: 200px;
}

.title {
    font-size: 55px;
    font-family: 'Krona One', sans-serif;
    line-height: 1.1;
    color: #ffffff;
    font-optical-sizing: auto;
    transform: scaleX(1.2); 
    transform-origin: left;
    display: inline-block;
}

.subtitle {
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}